.container{
    width: 970px;
    margin: 0 auto;
}
.top{
    margin-top: 20px;
    color: orangered;
    font-size: 12px;
    width: 1200px;
    height: 15px;
}
.shipin{
    margin-top: 20px;
}
.shipin video{
    width: 700px;
    height: 450px;
}
