.container{
    width: 970px;
    margin: 0 auto;
}
.left .img{
    width: 200px;
    height: 200px;
}
.left{
    float: left;
    margin-top: 30px;
    width: 200px;
}
.name{
    text-align: center;
    margin-top: 10px;
}
.bot{
    width: 200px;
    position: relative;
}
.fensi{
    text-align: center;
    width: 100px;
    font-size: 30px;
}
.guanzhu{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    float: right;
    text-align: center;
    font-size: 30px;
}
.wen{
    width: 200px;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}
.fs{
    text-align: center;
    width: 100px;
    font-size: 17px;
    margin-bottom: 10px;
}
.gz{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    float: right;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}
.right{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.left li a{color: black;}
.left li a:hover{color: orangered;}
.left li{
    margin-top: 10px;
    font-size: 20px;
}
.left li .pic{
    width: 16px;
    height: 16px;
}
.left li span{margin-right: 10px;float: right;}
