<div class="container">
  <div class="left">
    <img src="../images/tx.png" class="img"><br>
    <div class="name">姓名</div>
    <div class="bot">
      <div class="fensi">0</div>
      <div class="guanzhu">0</div>
    </div>
    <div class="wen">
      <div class="fs">粉丝</div>
      <div class="gz">关注</div>
    </div>
    <ul>
      <li><a [routerLink]="['/home/renwu']"><img src="../images/001.png" class="pic"> 任务<span>></span></a></li>
      <li><a [routerLink]="['/home/tbke']"><img src="../images/002.png" class="pic"> 同步课<span>></span></a></li>
      <li><a [routerLink]="['/home/kecheng']"><img src="../images/003.png" class="pic"> 课程<span>></span></a></li>
      <li><a [routerLink]="['/home/qieshuo']"><img src="../images/004.png" class="pic"> 且说<span>></span></a></li>
      <li><a [routerLink]="['/home/tongzhi']"><img src="../images/005.png" class="pic"> 通知<span>></span></a></li>
    </ul>
  </div>
  <div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>