.bg{
    background-color: #fafbfc;
    border-bottom: 1px solid #dedede;
}
.container{
    width: 970px;
    margin: 0 auto;
    height: 100px;
    
    }
img{float: left;}
.nr{margin-top: 15px;}
ul li{
    margin-left: 20px;
    float: left;
}
.detail{
    width: 970px;
    margin: 5px auto;
    padding-left: 15px;
}
