<div class="container">
  <ul>
    <li *ngFor="let class of classes;">
      <a [routerLink]="['/course',class.id]">
        <img src="{{class.images}}" />
        <div class="z">
          {{class.classname}}
        </div>
        <div class="detail">
          {{class.introduce}}
        </div>
        <div class="di">
          <span class="ks">
            课时{{class.time}}
          </span>
          <span class="rs">
            人数{{class.people}}
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>
