nav{
    height: 50px;
    background-color:whitesmoke;
    border-bottom: 2px solid #dedede;
}

.nav{
    width: 500px;
    margin: 0 auto;
    line-height: 50px;
}
.nav li{
    float: left;
    margin: 0 30px;
    cursor: pointer;
}
.nav li a{
    color: black;
    font-size: 14px;
}
.nav li a:hover{color: red;}
.image{
    width: 100px;
    height: 40px;
    float: left;
    padding-top: 3px;
    padding-right: 50px;
    padding-left: 200px;
}
.ss{
    float: left;
    width: 180px;
    height: 30px;
    padding-top: 10px;
    padding-right: 100px;
}
.ss input{height: 30px;}
.ss button{
    position: absolute;
    width: 40px;
    height: 30px;
}
.bell{
    width: 35px;
    height: 40px;
    padding-top: 4px;
}
.head{
    width: 30px;
    height: 35px;
    padding-top: 9px;
    float: right;
    padding-right: 150px;
}