<nav>

  <img class="image" src="http://www.edu2act.net/static/img/logo.png" />
  <ul class="nav">
    <li><a [routerLink]="['/home']"> 首页 </a></li>
    <li><a [routerLink]="['/tongbu']"> 同步课 </a></li>
    <li><a [routerLink]="['/course']"> 课程 </a></li>
    <li><a [routerLink]="['/club']"[queryParams]="{id:800,name:'ll'}"> 社区 </a></li>
  </ul>
  <div class="ss">
    <input type="search" placeholder="搜索课程、问答"/>
    <span>
      <button value="search" >搜索</button>
    </span>
    
  </div>
    <span>
      <a>
      <img class="bell" src="../images/bell.png">
      <img src="../images/head.png" class="head">
      </a>
    </span>
  
</nav>