<div class="container">
    <div class="big">
      <ul>
        <li><a><img src="../assets/images/01.png">我的</a></li>
        <li><a><img src="../assets/images/02.png">收到的赞</a></li>
        <li><a><img src="../assets/images/03.png">评论</a></li>
      </ul>
      <div class="ss">
        <input type="search" placeholder="输入同步课名称搜索"/>
        <span>
          <button value="search" >搜索</button>
        </span>
      </div>
    </div>
    <div>
      <div class="right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>